---
import { Image } from 'astro:assets';
import arrow from '../assets/hero/arrow-right.svg';

import google from '../assets/companies/google.svg'
import figma from '../assets/companies/figma.svg'
import notion from '../assets/companies/notion.svg'
import shopify from '../assets/companies/shopify.svg'
import slack from '../assets/companies/slack.svg'

import heroImg from '../assets/hero/hero-img.avif'

import TrustedCompanies from '../components/TrustedCompanies.astro';
---

<section class="mt-2 bg-warm pt-10 xl:pt-14 3xl:pt-20 rounded-[50px]">
    <div class="relative select-none pointer-events-none">
        <Image class="size-12 min-[800px]:size-14 xl:size-16 2xl:size-20 bg-white rounded-full border-[1px] p-2.5 min-[800px]:p-3 xl:p-3.5 2xl:p-4 absolute object-scale-down left-4 min-[550px]:-top-3 min-[550px]:left-6 sm:left-12 min-[800px]:left-24 2xl:left-40 3xl:left-56" data-aos="zoom-in" src={google} alt="Google logo" />
        <Image class="size-12 min-[800px]:size-14 xl:size-16 2xl:size-20 bg-white rounded-full border-[1px] p-2.5 min-[800px]:p-3 xl:p-3.5 2xl:p-4 absolute object-scale-down right-4 top-3 min-[550px]:top-0 min-[550px]:right-7 sm:right-12 min-[800px]:right-20 2xl:right-32 3xl:right-48" data-aos="zoom-in" src={figma} alt="Figma logo" />
        <Image class="size-12 min-[800px]:size-14 xl:size-16 2xl:size-20 bg-white rounded-full border-[1px] p-2.5 min-[800px]:p-3 xl:p-3.5 2xl:p-4 absolute object-scale-down left-4 top-56 min-[550px]:left-8 sm:top-52 sm:left-16 min-[800px]:left-28 2xl:left-56 3xl:left-72" data-aos="zoom-in" data-aos-delay="500" src={slack} alt="Slack logo" />
        <Image class="size-12 min-[800px]:size-14 xl:size-16 2xl:size-20 bg-white rounded-full border-[1px] p-2.5 min-[800px]:p-3 xl:p-3.5 2xl:p-4 absolute object-scale-down right-4 top-60 min-[550px]:top-52 min-[550px]:right-12 sm:top-44 sm:right-16 min-[800px]:right-28 lg:right-36 2xl:right-52 3xl:right-64" data-aos="zoom-in" data-aos-delay="500" src={shopify} alt="Shopify logo" />
        <Image class="size-12 min-[800px]:size-14 xl:size-16 2xl:size-20 bg-white rounded-full border-[1px] p-2.5 min-[800px]:p-3 xl:p-3.5 2xl:p-4 absolute object-scale-down right-4 top-80 min-[550px]:top-72 min-[550px]:right-8 sm:top-64 min-[800px]:right-16 2xl:right-28 2xl:top-72 3xl:right-40" data-aos="zoom-in" data-aos-delay="1000" src={notion} alt="Notion logo" />
    </div>
    <div class="flex flex-col justify-center items-center gap-y-4">
        <p class="border-gray-200 border-[1px] w-fit px-4 py-1 rounded-full bg-white shadow-sm" data-aos="fade-up">#1 task management app</p>
        <p class="font-semibold text-[34px] md:text-[42px] xl:text-5xl 3xl:text-[55px] leading-snug md:leading-tight xl:leading-snug text-center px-14 min-[700px]:px-20 min-[800px]:px-32 lg:px-48 2xl:px-72 3xl:px-[400px]" data-aos="fade-up" data-aos-duration="1500">Boost your productivity with intuitive task management app</p>
        <div class="mt-3 flex max-lg:flex-col lg:flex-row items-center gap-5 lg:mb-14">
            <button class="border-gray-200 border-[1px] w-fit px-5 py-3 rounded-2xl bg-black text-white lg:text-lg shadow-md hover:-translate-y-1 duration-300" data-aos="fade-up" data-aos-delay="500">Start 14 Days Free Trial 
            </button>
            <button class="border-gray-200 border-[1px] w-fit px-5 py-3 rounded-2xl bg-white lg:text-lg shadow-md flex gap-x-1 items-center hover:-translate-y-1 duration-300" data-aos="fade-up" data-aos-delay="1000">Book a free demo 
                <Image src={arrow} alt="arrow right" class="size-5 mt-0.5 select-none">
            </button>
        </div>
        <Image class="px-10 sm:px-20 lg:px-32 xl:px-44 2xl:px-56 3xl:px-0 mt-10 2xl:mt-16 3xl:mt-24 select-none pointer-events-none 3xl:w-[1200px] 4xl:w-[1400px] min-[2500px]:w-[1500px]" data-aos="fade-up" data-aos-delay="1000"  src={heroImg} alt="Hero image" />
    </div>
</section>
<TrustedCompanies />